# Data Preparing
Leyendo la data por primera vez y uniendo los csv.
Despues, con los datos que quedaron de esta fusion, se corrige los problemas de voltajes con lecturas incorrectas.
Despues se crea una columna que indique el consumo entre mediciones.
Se numeriza las variables categoricas.
Finalmente se exporta en el el archivo: "DataLimpia1.csv" en la carpeta CSV_generated

## Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
dir_origen_csv = "./Datasets_original/"
dir_export_csv = "./CSV_generated/"

## Reading CSVs

### Meters

In [3]:
file_name1 = dir_origen_csv + "DatosPlanos12-07-2019.csv"
df = pd.read_csv(file_name1, low_memory = False, sep=";")
df.head()

,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,medidor,...,angcorrienteB,angcorrienteC,powerfactorsystem,totalkwh,totalkvarh,Maxkw,Maxkvar,fechamaxkw,fechamaxkvar,frecuencia
0,2019-06-21 11:43:12,1523732,113.2000,113.2000,197.8000,21.4000,20.4000,21.4000,KV2C,58706680,...,243.8000,125.3000,0.8300,69910.436800,61694.4160,8.8988,8.8988,2019-06-03 08:45:00,2019-06-03 08:45:00,0.0000
1,2019-06-21 11:42:28,1523729,130.2233,129.7106,131.1633,2.8630,2.9018,1.6864,A3,20037205,...,245.0585,125.3125,0.9779,338322.423000,41088.5340,57.8880,57.8880,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0171
2,2019-06-21 11:42:23,1523730,255.9000,25.8000,259.3000,97.9000,108.3000,108.2000,KV2C,52072453,...,143.3000,269.5000,0.0000,936533.255300,734796.4268,86.0590,86.0590,2019-06-17 08:45:00,2019-06-17 08:45:00,0.0000
3,2019-06-21 11:40:33,1523728,255.4511,0.0000,0.0000,0.0475,0.0000,0.0000,A3,17548290,...,0.0000,0.0000,0.0000,43895.822000,16549.5370,2.8320,2.8320,2019-06-20 09:59:00,2019-06-20 09:59:00,59.9907
4,2019-06-21 11:38:56,1523726,113.0900,118.9153,121.1652,0.8739,1.3458,1.6345,A3,16567759,...,140.0156,267.3476,0.9166,5126.339775,2174.9853,0.9156,0.9156,2019-06-15 03:54:00,2019-06-15 03:49:00,59.9852

In [4]:
print("The size of data is {}, with {} meters".format(len(df), df.medidor.nunique()))

The size of data is 191946, with 399 meters

### Reading Longitude and Latitude from other csv

In [5]:
file_name2 = dir_origen_csv + "LatitudLongitud.csv"
df_coor = pd.read_csv(file_name2, sep=";")
df_coor.head()

   Latitud  Longitud   Medidor
0 -1.65405  -79.7664  11473857
1 -1.56032  -79.7599  15029974
2 -1.56435  -79.7549  11473874
3 -1.55602  -79.7533   8325048
4 -1.55607  -79.7528  11473866

In [6]:
print("The size of data is {}, with {} meters".format(len(df_coor), df_coor.Medidor.nunique()))

The size of data is 374, with 374 meters

### Reading Type of bussiness from other csv

In [7]:
file_name3 = dir_origen_csv + "ClasificaciÃ³n_Medidores.csv"
df_class = pd.read_csv(file_name3, sep=",")
df_class.head()

  CLASIFICACION   MEDIDOR
0   SUBESTACION  16567737
1   SUBESTACION  16567738
2   SUBESTACION  16567739
3   SUBESTACION  16567740
4   SUBESTACION  16567757

In [8]:
print("The size of data is {}, with {} meters".format(len(df_class), df_class.MEDIDOR.nunique()))

The size of data is 494, with 494 meters

## Merge datasets

### Readings and coordinates
df is merged and saved in df_m1

In [9]:
df_m1 = pd.merge(df, df_coor, left_on = "medidor", right_on = "Medidor").drop("Medidor", 1)
df_m1.head()

,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,medidor,...,powerfactorsystem,totalkwh,totalkvarh,Maxkw,Maxkvar,fechamaxkw,fechamaxkvar,frecuencia,Latitud,Longitud
0,2019-06-21 11:42:28,1523729,130.2233,129.7106,131.1633,2.8630,2.9018,1.6864,A3,20037205,...,0.9779,338322.423,41088.534,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0171,-1.80395,-79.5278
1,2019-06-21 07:42:31,1523042,132.6386,130.7506,132.3442,2.2325,2.6103,1.9324,A3,20037205,...,0.9696,338161.053,41060.244,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0177,-1.80395,-79.5278
2,2019-06-21 05:42:25,1522666,132.4934,130.5838,131.3794,0.3190,0.3763,0.2180,A3,20037205,...,0.9359,338126.610,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,59.9883,-1.80395,-79.5278
3,2019-06-21 03:42:25,1522291,133.4886,131.6130,132.2181,0.2404,0.2148,0.2065,A3,20037205,...,0.9207,338113.803,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0006,-1.80395,-79.5278
4,2019-06-21 01:42:26,1521922,132.5604,130.4312,131.3942,0.2747,0.7350,0.6642,A3,20037205,...,0.9134,338100.996,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,59.9736,-1.80395,-79.5278

In [10]:
print("The size of data is {}, with {} meters".format(len(df_m1), df_m1.medidor.nunique()))
print("We have reduced our data in {} readings and {} meters".format(len(df) - len(df_m1), df.medidor.nunique() - df_m1.medidor.nunique()))

The size of data is 139109, with 276 meters
We have reduced our data in 52837 readings and 123 meters

### Merge1 with type of bussiness
df_m1 is merged and saved in df_m2

In [11]:
df_m2 = pd.merge(df_m1, df_class, left_on = "medidor", right_on = "MEDIDOR").drop("MEDIDOR", 1)
df_m2.head()

,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,medidor,...,totalkwh,totalkvarh,Maxkw,Maxkvar,fechamaxkw,fechamaxkvar,frecuencia,Latitud,Longitud,CLASIFICACION
0,2019-06-21 11:42:28,1523729,130.2233,129.7106,131.1633,2.8630,2.9018,1.6864,A3,20037205,...,338322.423,41088.534,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0171,-1.80395,-79.5278,ENTIDAD PUBLICA
1,2019-06-21 07:42:31,1523042,132.6386,130.7506,132.3442,2.2325,2.6103,1.9324,A3,20037205,...,338161.053,41060.244,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0177,-1.80395,-79.5278,ENTIDAD PUBLICA
2,2019-06-21 05:42:25,1522666,132.4934,130.5838,131.3794,0.3190,0.3763,0.2180,A3,20037205,...,338126.610,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,59.9883,-1.80395,-79.5278,ENTIDAD PUBLICA
3,2019-06-21 03:42:25,1522291,133.4886,131.6130,132.2181,0.2404,0.2148,0.2065,A3,20037205,...,338113.803,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,60.0006,-1.80395,-79.5278,ENTIDAD PUBLICA
4,2019-06-21 01:42:26,1521922,132.5604,130.4312,131.3942,0.2747,0.7350,0.6642,A3,20037205,...,338100.996,41053.059,57.888,57.888,2019-06-20 15:44:00,2019-06-17 16:24:00,59.9736,-1.80395,-79.5278,ENTIDAD PUBLICA

In [12]:
print("The size of data is {}, with {} meters".format(len(df_m2), df_m2.medidor.nunique()))
print("We have reduced our data in {} readings and {} meters".format(len(df_m1) - len(df_m2), df_m1.medidor.nunique() - df_m2.medidor.nunique()))

The size of data is 138292, with 274 meters
We have reduced our data in 817 readings and 2 meters

# Correcting readings: 18 -> 180
Some rows have voltages like 18 but it does not have sense so let's multiply it by 10

In [13]:
df_m2_corrected = df_m2

In [14]:
for_update_df = ((df_m2_corrected[["voltajeA", "voltajeB", "voltajeC", "angvoltajeB", "angvoltajeC"]]).applymap(lambda x: x if (x>=10) else x*10))

In [15]:
df_m2_corrected.update(for_update_df)

## Deleting bad readings: row of 0s
Some readings have vales of 0s in columns like voltageA-C,corrienteA-C...totalkwh...
These ones are considere bad readings

In [16]:
(df_m2_corrected[df_m2_corrected["totalkwh"] == 0])

,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,medidor,...,totalkwh,totalkvarh,Maxkw,Maxkvar,fechamaxkw,fechamaxkvar,frecuencia,Latitud,Longitud,CLASIFICACION
13214,2019-06-06 11:46:19,1453479,0.0,0.0,0.0,0.0,0.0,0.0,A3,15029834,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.81321,-79.5467,ENTIDAD PUBLICA
13215,2019-05-28 10:10:47,1411592,0.0,0.0,0.0,0.0,0.0,0.0,A3,15029834,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.81321,-79.5467,ENTIDAD PUBLICA
14427,2019-05-23 12:09:09,1386871,0.0,0.0,0.0,0.0,0.0,0.0,A3,15029837,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80051,-79.5384,CENTRO DE SALUD
18762,2019-05-27 16:08:50,1407839,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567746,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.78370,-79.6816,ESTACION DE BOMBEO
18763,2019-05-29 22:08:56,1418713,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567746,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.78370,-79.6816,ESTACION DE BOMBEO
19186,2019-06-14 01:46:34,1489212,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567746,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.78370,-79.6816,ESTACION DE BOMBEO
20933,2019-06-09 13:48:01,1468155,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567750,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.88488,-79.5617,PILADORA
20934,2019-06-12 13:48:11,1482015,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567750,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.88488,-79.5617,PILADORA
21515,2019-05-23 06:08:01,1385456,0.0,0.0,0.0,0.0,0.0,0.0,A3,15842894,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.84812,-79.5505,ENTIDAD PRIVADA
26267,2019-06-10 11:48:25,1472451,0.0,0.0,0.0,0.0,0.0,0.0,A3,15029835,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.56845,-79.4733,IGLESIA
26268,2019-05-17 06:16:44,1355259,0.0,0.0,0.0,0.0,0.0,0.0,A3,15029835,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.56845,-79.4733,IGLESIA
35519,2019-05-02 23:08:43,1284076,0.0,0.0,0.0,0.0,0.0,0.0,KV2c,53444735,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.72475,-79.5170,ENTIDAD PRIVADA
38426,2019-05-02 22:43:40,1283985,0.0,0.0,0.0,0.0,0.0,0.0,KV2C,28006723,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,0.00000,0.0000,UNIDAD EDUCATIVA
44647,2019-05-04 16:15:12,1292393,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567757,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.26879,-79.4269,SUBESTACION
45044,2019-04-27 00:15:53,1253370,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567757,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.26879,-79.4269,SUBESTACION
45891,2019-05-13 16:15:44,1336737,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951214,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.26879,-79.4269,SUBESTACION
46436,2019-05-24 17:57:10,1393332,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567758,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.26879,-79.4269,SUBESTACION
49718,2019-06-07 11:51:09,1458298,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567753,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,0.00000,0.0000,PILADORA
55619,2019-05-31 04:10:49,1424666,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567762,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
56032,2019-05-08 16:14:55,1312312,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567762,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
60015,2019-06-03 06:10:36,1438594,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567763,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
60016,2019-06-04 13:48:01,1444553,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567763,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
60017,2019-05-24 14:10:02,1392575,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567763,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
60436,2019-06-13 03:48:33,1484725,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567763,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
61673,2019-05-21 22:09:43,1378180,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951206,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.83192,-79.5586,SUBESTACION
61674,2019-05-06 18:15:24,1302780,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951206,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.83192,-79.5586,SUBESTACION
63749,2019-04-08 23:08:23,1165158,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951216,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.56832,-79.4715,PILADORA
64417,2019-06-10 13:48:05,1472791,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567764,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
64418,2019-05-28 22:10:21,1413939,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567764,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
64419,2019-05-20 16:09:54,1371654,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567764,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65517,2019-05-20 10:08:36,1370375,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951207,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79090,-79.6742,SUBESTACION
65518,2019-05-20 02:08:36,1368656,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951207,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79090,-79.6742,SUBESTACION
65933,2019-05-24 18:08:50,1393413,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951207,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79090,-79.6742,SUBESTACION
66619,2019-05-28 12:08:06,1411930,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951177,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.77600,-79.5371,SUBESTACION
67023,2019-06-13 17:47:00,1487380,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951177,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.77600,-79.5371,SUBESTACION
67702,2019-05-26 10:09:30,1401689,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
67703,2019-05-04 18:15:24,1292784,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
68108,2019-04-26 11:17:09,1250254,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
68109,2019-04-03 14:46:33,1139238,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
68110,2019-04-02 06:46:29,1132804,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
68111,2019-04-01 14:46:26,1129333,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951208,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79070,-79.6744,SUBESTACION
72488,2019-04-02 18:36:02,1135034,0.0,0.0,0.0,0.0,0.0,0.0,A3,15842885,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79843,-79.5270,VENTA DE AGROQUIMICOS
80226,2019-05-28 14:33:15,1412419,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951178,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.77600,-79.5371,SUBESTACION
91583,2019-04-06 18:54:28,1154710,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951201,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80381,-79.5216,SUBESTACION
97982,2019-04-08 10:52:24,1162661,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951219,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80371,-79.5214,SUBESTACION
99741,2019-05-26 18:08:36,1403264,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951220,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80362,-79.5215,SUBESTACION
101946,2019-05-23 10:08:37,1386359,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951222,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80366,-79.5216,SUBESTACION
101947,2019-05-25 14:08:43,1397544,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951222,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80366,-79.5216,SUBESTACION
102322,2019-04-16 12:52:35,1199924,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951222,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.80366,-79.5216,SUBESTACION
102878,2019-05-30 14:10:50,1421906,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951180,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
103298,2019-03-30 16:34:18,1119692,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951180,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.55790,-79.5285,SUBESTACION
103960,2019-06-06 09:48:36,1453136,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951181,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,0.00000,0.0000,SUBESTACION
105050,2019-06-11 17:48:39,1478134,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951179,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.43453,-79.4659,SUBESTACION
105464,2019-04-21 19:43:32,1226073,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951179,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.43453,-79.4659,SUBESTACION
106550,2019-06-13 01:48:43,1484319,0.0,0.0,0.0,0.0,0.0,0.0,A3,16567761,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.43453,-79.4659,SUBESTACION
107210,2019-05-14 06:15:45,1339835,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951182,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.43453,-79.4659,SUBESTACION
107211,2019-05-30 03:57:28,1419909,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951182,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.43453,-79.4659,SUBESTACION
108303,2019-05-17 04:12:28,1354794,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951209,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.79077,-79.6745,SUBESTACION
109394,2019-06-10 23:46:26,1474671,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951203,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.83192,-79.5587,SUBESTACION
109395,2019-06-07 17:46:19,1459427,0.0,0.0,0.0,0.0,0.0,0.0,A3,16951203,...,0.0,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0.0,-1.83192,-79.5587,SUBESTACION

In [17]:
(df_m2_corrected[df_m2_corrected["totalkwh"] == 0]).index

Int64Index([ 13214,  13215,  14427,  18762,  18763,  19186,  20933,  20934,
             21515,  26267,  26268,  35519,  38426,  44647,  45044,  45891,
             46436,  49718,  55619,  56032,  60015,  60016,  60017,  60436,
             61673,  61674,  63749,  64417,  64418,  64419,  64420,  64845,
             65517,  65518,  65933,  66619,  67023,  67702,  67703,  68108,
             68109,  68110,  68111,  72488,  80226,  91583,  97982,  99741,
            101946, 101947, 102322, 102878, 103298, 103960, 105050, 105464,
            106550, 107210, 107211, 108303, 109394, 109395],
           dtype='int64')

In [18]:
df_m2_corrected.drop(index=(df_m2_corrected[df_m2_corrected["totalkwh"] == 0]).index, inplace = True)

In [19]:
(df_m2_corrected[df_m2_corrected["totalkwh"] == 0])

Empty DataFrame
Columns: [fecha, lectura_id_orig, voltajeA, voltajeB, voltajeC, corrienteA, corrienteB, corrienteC, modelo, medidor, angvoltajeA, angvoltajeB, angvoltajeC, angcorrienteA, angcorrienteB, angcorrienteC, powerfactorsystem, totalkwh, totalkvarh, Maxkw, Maxkvar, fechamaxkw, fechamaxkvar, frecuencia, Latitud, Longitud, CLASIFICACION]
Index: []

[0 rows x 27 columns]

## Adding kwh_consumido, kvarh_consumido, kwh_promedio, kvarh_promedio per reading
This columns indicates the KWH cosumption per reading and the kwh per hour between each reading. The same with kwvarh

In [20]:
df_m2_corrected.isnull().sum().sum()

0

In [21]:
df_m2_corrected = df_m2_corrected.sort_values("fecha", ascending = True)
df_m2_corrected.head(2)

,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,medidor,...,totalkwh,totalkvarh,Maxkw,Maxkvar,fechamaxkw,fechamaxkvar,frecuencia,Latitud,Longitud,CLASIFICACION
96245,2019-03-18 08:03:42,1063513,281.4638,282.8684,277.2715,0.0085,0.0028,0.0065,A3,15029977,...,86057.8260,51310.551000,48.012,48.012,2019-03-16 05:54:00,2019-03-14 07:44:00,59.996,-1.44379,-79.7628,ESTACION DE BOMBEO
119287,2019-03-18 08:04:01,1063515,67.3461,67.7107,68.9149,0.4653,0.4244,0.4421,A3,16567739,...,1402.5675,0.136425,0.174,0.174,2019-03-16 20:49:00,2019-03-18 08:35:00,59.989,-1.77115,-79.6313,SUBESTACION

In [22]:
df_m2_g = df_m2_corrected.groupby("medidor")

In [23]:
df_m2_corrected["kwh_consumido"] = df_m2_g["totalkwh"].transform(lambda x: x.diff())

In [24]:
df_m2_corrected["kvarh_consumido"] = df_m2_g["totalkvarh"].transform(lambda x: x.diff())
df_m2_corrected.fillna(0, inplace =True)

**Note:** Some values of these columns are negativate. This happend beacause the max value that a meter can register in totalwkw and totalkvarh is 999999, after that reading, it starts to count from cero

In [25]:
df_m2_corrected[df_m2_corrected["kwh_consumido"] < 0]["medidor"].value_counts()

35925319    1
52073321    1
52071444    1
Name: medidor, dtype: int64

In [26]:
def correct(dfa):
    dfa = dfa.reset_index()
    
    max_value = 1000000
    index_columnMax = 18
    index_columnToAppy = 28
   
    ids = (dfa.index[dfa["kwh_consumido"] < 0])
    if (len(ids) >0):
        for i in ids:
            try:
                dfa.loc[i, "kwh_consumido"] = dfa.loc[i, "totalkwh"] + max_value - dfa.loc[i -1, "totalkwh"]
            except:
                print(dfa)
    return dfa.drop("index", 1)

In [27]:
df_temp1 = df_m2_g.apply(correct)

In [28]:
df_f1 = df_temp1.drop(columns=["medidor"]).reset_index().drop("level_1",1)

In [29]:
df_f1[df_f1["kwh_consumido"] <0]["medidor"].value_counts()

Series([], Name: medidor, dtype: int64)

In [30]:
df_f1[df_f1["medidor"] == 16567750 ]["totalkwh"].max()

4078648.11375

In [31]:
df_f1[df_f1["medidor"] == 15029834     ]["totalkwh"].max()

2530535.7525

In [32]:
df_f1[df_f1["medidor"] == 15029837     ]["totalkwh"].max()

5572455.6825

In [33]:
#df_f1[df_f1["medidor"] == 16567750 ]

**Importante** estos tre medidores estan estaran fuera de nuetro analisis porque tienen mayores numero maximos en compracion a los demas

In [34]:
# Deleting these three meters
df_f11 = df_f1[~(df_f1["medidor"].isin([16567750,15029837, 15029834])) ]

## Numerize

In [35]:
mapa_clasificacion = {}
count = 0
for i in df_f11["CLASIFICACION"].value_counts().index.to_list():
    mapa_clasificacion[i] = count
    count +=1

In [36]:
mapa_modelo = {}
count = 0
for i in df_f11["modelo"].value_counts().index.to_list():
    mapa_clasificacion[i] = count
    count +=1

In [37]:
df_f11["tipo_consumo"] = df_f11.groupby("medidor")["kwh_consumido"].transform(lambda x: "bajo" if x.mean() <10 else ("medio" if x.mean()>=10 or x.mean() <100 else "alto"))

In [38]:
mapa_modelo = {}
count = -1
for i in df_f11["tipo_consumo"].to_list():
    mapa_clasificacion[i] = count
    count +=1

### Applying maps

In [39]:
df_f11["clasificacion_encoded"] = df_f11["CLASIFICACION"].map(mapa_clasificacion)
df_f11["modelo_encoded"] = df_f11["modelo"].map(mapa_clasificacion)
df_f11["tipo_consumo_encoded"] = df_f11["modelo"].map(mapa_clasificacion)

## Adding kwh_consumido_hora

In [40]:
def addKwh(data):
    datetime = pd.to_datetime(data["fecha"])
    datetime_diff = datetime.diff().dt.seconds / 3600
    data["kwh_hora"] = data["kwh_consumido"] / datetime_diff
    return data

In [41]:
df_f11_g = df_f11.groupby("medidor")
df_f11 = df_f11_g.apply(addKwh)

In [42]:
df_f11[df_f11["medidor"] == 15029828][["kwh_consumido", "kwh_hora","fecha"]].head(5)

   kwh_consumido    kwh_hora                fecha
0         0.0000         NaN  2019-03-18 10:53:26
1       507.0450  253.452097  2019-03-18 12:53:28
2       530.7225  265.287559  2019-03-18 14:53:30
3       438.5850  219.322962  2019-03-18 16:53:29
4         8.0325   11.693085  2019-03-18 17:34:42

In [43]:
df_f11.fillna(0, inplace = True)

## Getting the larger windows

In [44]:
#df_f11.sort_values(by = "fecha", ascending = True, inplace = True)

In [45]:
df_f11["fecha"] = pd.to_datetime(df_f11["fecha"])

In [46]:
df_f11["dayMonth"] = df_f11["fecha"].dt.week

In [47]:
list_datetime = df_f11["fecha"].dt.date.value_counts().index.sort_values().to_list()
list_datetime[:10]

[datetime.date(2019, 3, 18),
 datetime.date(2019, 3, 19),
 datetime.date(2019, 3, 20),
 datetime.date(2019, 3, 21),
 datetime.date(2019, 3, 22),
 datetime.date(2019, 3, 23),
 datetime.date(2019, 3, 24),
 datetime.date(2019, 3, 25),
 datetime.date(2019, 3, 26),
 datetime.date(2019, 3, 27)]

In [48]:
tail = list_datetime[-1]
head = list_datetime[0]

In [49]:
dayUniques = (tail - head ).days
print("There is a total of {} days in our dataset".format(dayUniques))

There is a total of 95 days in our dataset

In [50]:
def countDaysMeters(data, dayUniques, head, tail):
    count = 0
    good_meters = []
    for name, group in data.groupby("medidor"):
        group.set_index("fecha", inplace = True)
        group = group[head:tail]
        group = group.resample("24H").mean()
        if(group["dayMonth"].value_counts().sum() >= dayUniques):
            if(not group.isnull().any().any()): #any value is different than nan
                good_meters.append(name)
                count +=1
    return count, good_meters

In [53]:
def getMeters_maxDays(df, list_datetime, min_days = 0, direction = "left"):
    directions = ["left", "right", "both"]
    if(not(direction in directions)):
        return [], []
    
    #defining static edge
    if(direction == "left"):
        tail = list_datetime[-1]
    elif(direction == "right"):
        head = list_datetime[0]
    
    max_possible_offeset = len(list_datetime)
    if(direction == "both"):
        max_possible_offeset = len(list_datetime) // 2
        
    max_meters = []
    count_meters_max = 0
    head_and_tail = []
    for offset in  range(max_possible_offeset):
        #defining dynamic edges
        if(direction == "left" or direction == "both"):
            head = list_datetime[offset]
        if(direction == "right" or direction == "both"):
            tail = list_datetime[offset*(-1) - 1]
        
        num_days = (tail - head ).days
        
        if (num_days >= min_days):
            count_meters, meters = countDaysMeters(df_f11, num_days, head, tail)
            print("From {}  to {}  with {} days, we have {} meters".format(head, tail, num_days, count_meters))
            if(count_meters_max < count_meters):
                count_meters_max = count_meters
                max_meters = meters
                head_and_tail = [head, tail]
    return max_meters, head_and_tail

In [59]:
meters1, dates1 = getMeters_maxDays(df_f11, list_datetime, min_days= 60, direction="left")

From 2019-03-18  to 2019-06-21  with 95 days, we have 78 meters
From 2019-03-19  to 2019-06-21  with 94 days, we have 79 meters
From 2019-03-20  to 2019-06-21  with 93 days, we have 80 meters
From 2019-03-21  to 2019-06-21  with 92 days, we have 82 meters
From 2019-03-22  to 2019-06-21  with 91 days, we have 83 meters
From 2019-03-23  to 2019-06-21  with 90 days, we have 85 meters
From 2019-03-24  to 2019-06-21  with 89 days, we have 85 meters
From 2019-03-25  to 2019-06-21  with 88 days, we have 87 meters
From 2019-03-26  to 2019-06-21  with 87 days, we have 87 meters
From 2019-03-27  to 2019-06-21  with 86 days, we have 88 meters
From 2019-03-28  to 2019-06-21  with 85 days, we have 89 meters
From 2019-03-29  to 2019-06-21  with 84 days, we have 90 meters
From 2019-03-30  to 2019-06-21  with 83 days, we have 90 meters
From 2019-03-31  to 2019-06-21  with 82 days, we have 90 meters
From 2019-04-01  to 2019-06-21  with 81 days, we have 91 meters
From 2019-04-02  to 2019-06-21  with 80 days, we have 92 meters
From 2019-04-03  to 2019-06-21  with 79 days, we have 93 meters
From 2019-04-04  to 2019-06-21  with 78 days, we have 94 meters
From 2019-04-05  to 2019-06-21  with 77 days, we have 95 meters
From 2019-04-06  to 2019-06-21  with 76 days, we have 95 meters
From 2019-04-07  to 2019-06-21  with 75 days, we have 95 meters
From 2019-04-08  to 2019-06-21  with 74 days, we have 95 meters
From 2019-04-09  to 2019-06-21  with 73 days, we have 95 meters
From 2019-04-10  to 2019-06-21  with 72 days, we have 96 meters
From 2019-04-11  to 2019-06-21  with 71 days, we have 97 meters
From 2019-04-12  to 2019-06-21  with 70 days, we have 97 meters
From 2019-04-13  to 2019-06-21  with 69 days, we have 97 meters
From 2019-04-14  to 2019-06-21  with 68 days, we have 98 meters
From 2019-04-15  to 2019-06-21  with 67 days, we have 98 meters
From 2019-04-16  to 2019-06-21  with 66 days, we have 99 meters
From 2019-04-17  to 2019-06-21  with 65 days, we have 101 meters
From 2019-04-18  to 2019-06-21  with 64 days, we have 103 meters
From 2019-04-19  to 2019-06-21  with 63 days, we have 105 meters
From 2019-04-20  to 2019-06-21  with 62 days, we have 107 meters
From 2019-04-21  to 2019-06-21  with 61 days, we have 107 meters
From 2019-04-22  to 2019-06-21  with 60 days, we have 108 meters

In [60]:
meters2, dates2 = getMeters_maxDays(df_f11, list_datetime, min_days= 60, direction="right")

From 2019-03-18  to 2019-06-21  with 95 days, we have 78 meters
From 2019-03-18  to 2019-06-20  with 94 days, we have 78 meters
From 2019-03-18  to 2019-06-19  with 93 days, we have 78 meters
From 2019-03-18  to 2019-06-18  with 92 days, we have 78 meters
From 2019-03-18  to 2019-06-17  with 91 days, we have 81 meters
From 2019-03-18  to 2019-06-16  with 90 days, we have 82 meters
From 2019-03-18  to 2019-06-15  with 89 days, we have 82 meters
From 2019-03-18  to 2019-06-14  with 88 days, we have 82 meters
From 2019-03-18  to 2019-06-13  with 87 days, we have 82 meters
From 2019-03-18  to 2019-06-12  with 86 days, we have 82 meters
From 2019-03-18  to 2019-06-11  with 85 days, we have 82 meters
From 2019-03-18  to 2019-06-10  with 84 days, we have 82 meters
From 2019-03-18  to 2019-06-09  with 83 days, we have 82 meters
From 2019-03-18  to 2019-06-08  with 82 days, we have 82 meters
From 2019-03-18  to 2019-06-07  with 81 days, we have 82 meters
From 2019-03-18  to 2019-06-06  with 80 days, we have 89 meters
From 2019-03-18  to 2019-06-05  with 79 days, we have 92 meters
From 2019-03-18  to 2019-06-04  with 78 days, we have 92 meters
From 2019-03-18  to 2019-06-03  with 77 days, we have 92 meters
From 2019-03-18  to 2019-06-02  with 76 days, we have 96 meters
From 2019-03-18  to 2019-06-01  with 75 days, we have 97 meters
From 2019-03-18  to 2019-05-31  with 74 days, we have 97 meters
From 2019-03-18  to 2019-05-30  with 73 days, we have 99 meters
From 2019-03-18  to 2019-05-29  with 72 days, we have 100 meters
From 2019-03-18  to 2019-05-28  with 71 days, we have 100 meters
From 2019-03-18  to 2019-05-27  with 70 days, we have 101 meters
From 2019-03-18  to 2019-05-26  with 69 days, we have 102 meters
From 2019-03-18  to 2019-05-25  with 68 days, we have 102 meters
From 2019-03-18  to 2019-05-24  with 67 days, we have 102 meters
From 2019-03-18  to 2019-05-23  with 66 days, we have 102 meters
From 2019-03-18  to 2019-05-22  with 65 days, we have 102 meters
From 2019-03-18  to 2019-05-21  with 64 days, we have 103 meters
From 2019-03-18  to 2019-05-20  with 63 days, we have 103 meters
From 2019-03-18  to 2019-05-19  with 62 days, we have 103 meters
From 2019-03-18  to 2019-05-18  with 61 days, we have 103 meters
From 2019-03-18  to 2019-05-17  with 60 days, we have 103 meters

In [54]:
meters3, dates3 = getMeters_maxDays(df_f11, list_datetime, min_days= 60, direction="both")

From 2019-03-18  to 2019-06-21  with 95 days, we have 78 meters
From 2019-03-19  to 2019-06-20  with 93 days, we have 79 meters
From 2019-03-20  to 2019-06-19  with 91 days, we have 80 meters
From 2019-03-21  to 2019-06-18  with 89 days, we have 82 meters
From 2019-03-22  to 2019-06-17  with 87 days, we have 87 meters
From 2019-03-23  to 2019-06-16  with 85 days, we have 90 meters
From 2019-03-24  to 2019-06-15  with 83 days, we have 90 meters
From 2019-03-25  to 2019-06-14  with 81 days, we have 92 meters
From 2019-03-26  to 2019-06-13  with 79 days, we have 92 meters
From 2019-03-27  to 2019-06-12  with 77 days, we have 93 meters
From 2019-03-28  to 2019-06-11  with 75 days, we have 94 meters
From 2019-03-29  to 2019-06-10  with 73 days, we have 95 meters
From 2019-03-30  to 2019-06-09  with 71 days, we have 95 meters
From 2019-03-31  to 2019-06-08  with 69 days, we have 95 meters
From 2019-04-01  to 2019-06-07  with 67 days, we have 96 meters
From 2019-04-02  to 2019-06-06  with 65 days, we have 105 meters
From 2019-04-03  to 2019-06-05  with 63 days, we have 110 meters
From 2019-04-04  to 2019-06-04  with 61 days, we have 112 meters

**note** we want a min two months, so min_days = 60

From the above functions we decided to select the windows from {2019-04-04} to {2019-04-04} with {112} meters

In [55]:
df_f2 = df_f11[df_f11["medidor"].isin(meters3)]
df_f2.head()

,medidor,fecha,lectura_id_orig,voltajeA,voltajeB,voltajeC,corrienteA,corrienteB,corrienteC,modelo,...,Longitud,CLASIFICACION,kwh_consumido,kvarh_consumido,tipo_consumo,clasificacion_encoded,modelo_encoded,tipo_consumo_encoded,kwh_hora,dayMonth
0,15029828,2019-03-18 10:53:26,1064018,113.3119,113.7589,112.6393,2.0239,1.1115,0.9293,A3,...,-79.4001,PILADORA,0.0000,0.0,medio,3,0,0,0.000000,12
1,15029828,2019-03-18 12:53:28,1064367,113.9422,115.3172,113.7901,2.0303,1.3326,1.0646,A3,...,-79.4001,PILADORA,507.0450,0.0,medio,3,0,0,253.452097,12
2,15029828,2019-03-18 14:53:30,1064735,112.4796,113.6260,112.0572,2.0008,1.2326,1.0076,A3,...,-79.4001,PILADORA,530.7225,0.0,medio,3,0,0,265.287559,12
3,15029828,2019-03-18 16:53:29,1065045,115.6603,117.0650,115.9671,2.5937,0.4386,1.2305,A3,...,-79.4001,PILADORA,438.5850,0.0,medio,3,0,0,219.322962,12
4,15029828,2019-03-18 17:34:42,1065148,116.2225,117.8265,115.9384,2.6294,0.4347,1.2346,A3,...,-79.4001,PILADORA,8.0325,0.0,medio,3,0,0,11.693085,12

In [56]:
print("The size of data is {}, with {} meters".format(len(df_f2), df_f2.medidor.nunique()))

The size of data is 93122, with 112 meters

# Exporting

### All Meters

In [57]:
df_f11.to_csv(dir_export_csv + "Data_limpia_todos.csv", index= False)

### Windows meters

In [58]:
df_f2.to_csv(dir_export_csv + "Data_limpia_windows.csv", index= False)

## Fases

In [ ]:
#df_limpia[(df_limpia["voltajeB"] == 0 ) & (df_limpia["voltajeC"] == 0)].to_csv("1face.csv")

In [ ]:
#df_limpia[(df_limpia["voltajeB"] == 0 ) & (df_limpia["voltajeC"] == 0)]["Medidor"].value_counts()

In [ ]:
#df_limpia[(df_limpia["voltajeB"] == 0 ) & (df_limpia["voltajeC"] != 0)].to_csv("2face.csv")

In [ ]:
#df_limpia[(df_limpia["voltajeB"] == 0 ) & (df_limpia["voltajeC"] != 0)]["Medidor"].value_counts()

In [ ]:
#df_limpia[(df_limpia["voltajeB"] != 0 ) & (df_limpia["voltajeC"] != 0)].to_csv("3face.csv")